@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

h1 {
    font-size: 60px;
    font-family: "Poller One";
    color: white;
}


h3, h2{
    font-size: 50px;
    color: white;
}

h4{
    color: white;
}

p{
    font-size: 18px;
    color: white;
}

body {
    background-color:#104166;
}

.sectionheader{
    text-decoration: underline;
}

.projectdiv{
    background-color: #567892;
    border-radius: 10px;
    box-shadow: 7px 2px 5px 0px #6d91ad;
    border: 3px solid white;
}

.projectimg{
    max-width: 300px;
    border: 1px solid white;
}

.projectdescription {
    max-width: 600px;
}

button {
    background-color: #104166;
    color: white;
}

button:hover{
    background-color: #6191b5;
}